* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
